.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px #cfcfcf;
  padding: 0 150px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 0 30px;
}
